<footer class="footer">
   <div class="container">
      <div class="footer__wrapper">
         <div class="footer__top">
            <div class="footer__head section-head section-head--center">
               <h2 class="section-head__title section-head">Our Newsletter</h2>
               <p class="section-head__subtitle">​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​Dental or oral health is
                  concerned with your teeth, gums and mouth. healthy mouth free of infections, injuries and other
                  problems with.</p>
            </div>
            <div class="footer__input">
               <input autocomplete="off" type="text" name="form[]" placeholder="Enter your email"
                  class="input input-reset">
               <button class="footer__btn btn btn--reset">Subscribe</button>
            </div>
         </div>
         <div class="footer__bottom">
            <div class="footer__copy">Copyright © 2020 All rights Reserved - Dental</div>
         </div>
      </div>
   </div>
</footer>
