.footer {
   // .footer__wrapper
   &__wrapper {
   }
   // .footer__top
   &__top {
      color: $color-white;
      padding: 65px 20px;
      background-color: $color-accent;
      box-shadow: 0px 100px 80px rgba(0, 152, 255, 0.07),
         0px 41.7776px 33.4221px rgba(0, 152, 255, 0.0503198),
         0px 22.3363px 17.869px rgba(0, 152, 255, 0.0417275),
         0px 12.5216px 10.0172px rgba(0, 152, 255, 0.035),
         0px 6.6501px 5.32008px rgba(0, 152, 255, 0.0282725),
         0px 2.76726px 2.21381px rgba(0, 152, 255, 0.0196802);
      border-radius: 50px;
      margin-bottom: 40px;
   }
   // .footer__head
   &__head {
      max-width: 620px;
      margin: 0 auto;
      margin-bottom: 35px;
   }
   // .footer__input
   &__input {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      align-items: center;
      max-width: 530px;
      background: #ffffff;
      border-radius: 18px;
      padding: 5px;
      @include pc_576 {
         flex-direction: column;
         padding: 5px 10px;
      }
   }
   // .footer__btn
   &__btn {
      cursor: pointer;
      @include pc_576 {
         width: 100%;
         text-align: center;
         flex: 1 1 100%;
         margin-top: 2px;
      }
   }
   // .footer__bottom
   &__bottom {
      padding-bottom: 40px;
   }
   // .footer__copy
   &__copy {
      text-align: center;
      font-size: 17px;
      line-height: 100%;
      @include pc_768 {
         font-size: 10px;
      }
   }
}
