.hero {
   position: relative;
   @include ad-value(padding-top, 100, 70, 1);
   @include ad-value(padding-bottom, 100, 20, 1);

   &::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      height: 100%;
      width: 19%;
      background-color: $color-accent;

      @include pc_992 {
         display: none;
      }
   }

   // .hero__wrapper
   &__wrapper {
      @include mb_992 {
         display: flex;
      }
   }

   // .hero__content
   &__content {
      display: flex;
      align-items: center;
      flex: 0 0 100%;
   }

   // .hero__body
   &__body {
      margin-bottom: 20px;
      @include mb_992 {
         width: 60%;
         padding-right: 20px;
         margin-bottom: 0;
      }
   }

   // .hero__image
   &__image {
      position: relative;
      padding-bottom: 50%;
      overflow: hidden;

      @include mb_992 {
         flex: 0 0 40%;
         transform: translateX(-100%);
         border-radius: 40px 0px 0px 40px;
      }

      img {
         position: absolute;
         z-index: -1;
         width: 100%;
         height: 100%;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         object-fit: cover;
      }
   }

   // .hero__buttons
   &__buttons {
      display: flex;
      align-items: center;
      padding-top: 20px;
      @include pc_576 {
         flex-direction: column;
      }
   }

   // .hero__appoinment
   &__appoinment {
      width: 100%;
      margin-bottom: 20px;
      @include mb_576 {
         width: auto;
         margin-right: 15px;
         margin-bottom: 0;
      }
   }
   // .hero__watch
   &__watch {
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 17px;
      line-height: 110%;
      transition: color 0.2s ease-in-out;
      @media not all and (pointer: coarse) {
         &:hover {
            color: $color-accent;
         }
      }
      svg {
         fill: $color-accent;
         flex: 0 0 50px;
         width: 50px;
         height: 50px;
         margin-right: 12px;
      }
   }
}
