.team {
   padding-bottom: 100px;
   // .team__wrapper
   &__wrapper {
   }
   // .team__head
   &__head {
      max-width: 634px;
      margin: 0 auto;
      margin-bottom: 54px;
   }
   // .team__body
   &__body {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;

      @include pc_992 {
         grid-template-columns: repeat(2, 1fr);
      }
      @include pc_576 {
         grid-template-columns: repeat(1, 1fr);
      }
   }
   // .team__item
   &__item {
   }
}
